# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyB1_TonJurKptjMXdmGIRfB7SnQxNyNqXU
VITE_FIREBASE_AUTH_DOMAIN=portal-faculdade.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=portal-faculdade
VITE_FIREBASE_STORAGE_BUCKET=portal-faculdade.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1012108046238
VITE_FIREBASE_APP_ID=1:1012108046238:web:0ade5941d60018a2ad708f
VITE_FIREBASE_MEASUREMENT_ID=G-69JFX6LT64
